#mychat_popup_div {
    background-color: white;
    position: fixed;
    z-index: 999999;
    top: 10%;
    /* left: 75%; */
    right: 0;
    width: 300px;
    border-radius: 8px 0px 0px 8px;
    height: 530px;
/*     -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    padding: 10px;
    display: none;
    box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.15), -4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  #myChat_close_sheet {
    background: none;
    border: none;
  }

   /* Style the tab */
   #myChat_tabs_container {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  #myChat_tabs_container button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
  }
  
  /* Change background color of buttons on hover */
  #myChat_tabs_container button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  #myChat_tabs_container button.active {
    background-color: #ddd;
  }
  
  /* Style the tab content */
  .myChat_tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #mychat_popup_div form {
    /* margin-top: 10px; */
    width: 100%;
    /* height: 90%; */
    position: relative;
    margin-top:10px;
  }
  #mychat_popup_div #myChat-signup, #myChat-login, #myChat-account {
    display: none;
  }

  #mychat_popup_div #myChat-account p {
    font-size: 14px;
  }
  
  #mychat_popup_div form input,textarea{
    border: 1px solid #D8DFE7;
    border-radius: 8px !important;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 6px 12px !important;
    margin:0;
    margin-bottom: 10px !important;
    box-sizing: border-box;
    font-size: 14px !important;

  }  
  #mychat_popup_div form input[type=text],input[type=email],input[type=password] {
    width: 100% !important;
  }
  #mychat_popup_div textarea {
    width: 100% !important;
    resize: none !important;

  }
  #mychat_popup_div input[type=submit] {
    width: 100%; 
    background: #0000FF;
    color: white;
    border-color: transparent;
    border-radius: 18px !important;
    font-size: 14px !important;
    text-align: center;
  }
  #mychat_popup_div input[type=submit]:hover {
    background: #0000ffbb;
  }

  #myChat_tab_one #mychat_question_textarea{
    height: 50px;
    
  }

  #myChat_tab_two #mychat_new_data_textarea {
    height: 300px;
  }
  #myChat_conversation_container{
    border: 1px solid #D8DFE7;
    border-radius: 8px;
    background-color: #f1f1f1;
    height: 275px;
    overflow: scroll;
  }
  #myChat_conversation_container div{
    /* background-color: #d8e4fe; */
    display: flex;
    
  }
  #myChat_conversation_container button {
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
  }
  .mychat_user_message, .mychat_bot_message{
    font-size: 14px !important;
    width: 100%;
  }

 